/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.timer-container {
    width: 300px;
    height: 300px;
    background-color: #ff3b3b;
    border-radius: 30px;
    color: white;
    text-align: center;
    position: relative;
}

/* Mode buttons */
.mode-buttons {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mode-buttons button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.7;
}

.mode-buttons .active {
    background-color: #c73030;
    border-radius: 15px;
    opacity: 1;
}

/* Timer display */
.top-half {
    width: 100%;
    height: calc(50% - 2.5px);
    position: relative;
}
.timer-display {
    position: relative;
    width: 100%;
    height: 100%;
}

.timer-numbers {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.timer-display::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-half {
    width: 100%;
    height: 50%;
}

.timer-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid transparent;
    border-bottom-color: white;
    margin-top: 2.5px;
}

.digital-timer {
    margin-top: 20px;
}

/* Control buttons */
.controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.controls button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #c73030;
    color: white;
    font-size: 18px;
}

#start-pause {
    background-color: white;
    color: #c73030;
}
