body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 48px;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-content: center;
    background-color: lightgray;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
}