.ruler-track {
    position: relative;
    bottom: 0;
    height: 100%;
}

.ruler-thumb {
    position: absolute;
    height: 100%;
    padding: 0 150px;
}

.ruler-thumb:hover {
    cursor: grab;
}
.ruler-thumb:active {
    cursor: grabbing; /* Shows grabbing cursor when dragging */
}

.ruler-divider-panel {
    position: relative;
    height: 100%; /* Space for ticks and numbers */
    /* Width will be set by JavaScript */
}

/* Small ticks */
.tick-small {
    position: absolute;
    width: 3px;
    height: 3px;
    background: var(--text-color);
    transform: translateX(-50%);
    bottom: 0;
}

/* Big ticks */
.tick-big {
    position: absolute;
    width: 5px;
    height: 10px;
    background: var(--text-color);
    transform: translateX(-50%);
    bottom: 0;
}

/* Numbers */
.tick-label {
    position: absolute;
    transform: translateX(-50%);
    bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}
